* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}

body > div{

    width: 200px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 30px;
    margin: 10px;
    float: left;

}

body > div:hover {
       background: #333;
}

div > img {
    width: 100%;
    border-radius: 20px;

}

body > h1 {
    padding: 20px;
    text-align: center;
    
}