* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

main {
    height: 500px;
    background: #ddd;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    

}

main > .box {
    
    width: 100px;
    height: 100px;
    background: #aaa;
    margin: 20px;
    

    

}