* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

main {
    height: 500px;
    background: #ddd;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    align-content: stretch;
    
}

main > .box {
    
    width: 100px;
    height: 100px;
    background: #aaa;
    margin: 20px;

}

/* div:first-child {

    width: 150px;
} */